.css-dwuj3p-MuiTableCell-root{
    color: white !important;
    background:  #0f8ceb !important;
 font-weight: 500 !important;
}
.css-nw3mfz{
  color: white !important;
 background-color: #0f8ceb !important;
 font-weight: 500 !important;
} 